*.swp
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.emacs
/.gitconfig
/.kshrc
/.lesshst
/Makefile
/.screenrc
/.ssh/
/.tmp/
/.vim/
/.viminfo
/.vimrc
/.zshrc
/addon/
/logs/
/makofw/
/sebfaction/
/tmp/
/www/bigfiles/
/www/dev/
/www/prod/



